body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input {
    max-width: 400px;
}

input[type=text] {
    width: 400px;
    margin: 0;
}

table {
    border: 1px solid;
    margin-top: 2em;
    width: 600px;
}

td {
    border: 1px solid;
    text-align: center;

}

.td_text {
    width: 400px;
}

textarea {
    width: 400px;
    height: 400px;
    margin: 0px;
}